
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-style: normal;
  }





nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    left: 0;
    top: 0;
    align-items: center;
    padding: 24px 160px 24px 160px;
}

.hi {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
}

.fi {
    width: 116px;
    height: 52px;
    padding: 15px 15px 15px 15px;
    border-radius: 8px;


}

.fi a {
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    font-size: 10px;
    padding: 5px 5px;

}

.idea {
    position: static;
    width: 1280px;
    height: 560px;
    padding: 80px 100px 0px 100px;

    border-radius: 10px;

    margin: 120px 120px;
    border-radius: 10px;
    /* text-align: center; */
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);

}

.one {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.two {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
}

.btn-i {
    width: 270px;
    height: 56px;
    gap: 48;
    padding: 17px 34px 17px 34px;
    margin: 24px 0px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.im1 {
    width: 500px;
    height: 450px;
    left: 3100px;

}

.logos {
    display: flex;
    justify-content: space-around;
    margin: 0px 10px 20px 80px;
}

.digital {
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    width: 370px;
    height: 325px;
    margin: 0px 24px;
    padding: 32px;
    gap: 24;
}

.green {
    border-radius: 16px;
    background: rgb(198, 228, 214);
    width: 370px;
    height: 325px;
    margin: 0px 24px;
    padding: 32px;
    gap: 24;
}

.mordern {
    border-radius: 16px;
    background: rgb(247, 235, 207);
    width: 370px;
    height: 325px;
    margin: 0px 24px;
    padding: 32px;
    gap: 24;

}

.vi {
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0px 20px 120px;
    gap: 32;
}

.si {
    margin: 0px 10px 20px 120px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.di {

    color: rgba(14, 14, 14, 0.8);
    font-size: 25px;
    font-weight: 700;
    text-align: left;


}

.gi {
    color: rgba(14, 14, 14, 0.7);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 70px;
    text-align: left;
}

.bn2 {
    border-radius: 8px;
    background: rgb(84, 144, 245);
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.bn3 {
    border-radius: 8px;
    background: rgb(9, 161, 92);
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.bn4 {
    border-radius: 8px;
    background: rgb(255, 194, 57);
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    /* transition: all 0.3s ease; */
}

.bnx:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.story {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 50px 120px 20px 120px;
    padding: 48px 24px 48px 24px;
}

.sto {
    color: rgba(14, 14, 14, 0.8);

    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.ry {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}

.tor {
    color: rgba(14, 14, 14, 0.6);

    font-size: 16px;
    font-weight: 400;

}

.re {
    font-size: 40px;
    font-weight: 700;
    margin: 50px 120px 20px 120px;
}

.ce {
    margin: 50px 120px 20px 120px;
    color: rgba(14, 14, 14, 0.7);

}

.card1 {
    display: flex;
    margin: 50px 120px 20px 120px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    align-items: center;
    gap: 32;
    padding: 48px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.im3 {
    border-radius: 24px;
    width: 408px;
    height: 306px;
    margin: 0px 32px;
}

.ba {
    font-size: 32px;
    font-weight: 700;
}

.gla {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;

}

.bn5 {
    width: 139px;
    height: 48px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;


}

.don {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.ate {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0px 220px 30px 220px;
}

.am1 {
    margin: 0px 0px 0px 120px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 240px;
    height: 128px;
    gap: 12;
    padding: 15px 15px 15px 15px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}

.am2 {
    margin: 0px 0px 0px 120px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    /* background: rgb(198, 228, 214); */
    background: rgb(255, 255, 255);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 240px;
    height: 128px;
    gap: 12;
    padding: 15px 15px 15px 15px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}
.bny:hover {
    background-color: rgb(198, 228, 214);
    transform: scale(1.05);
}

.am3 {
    margin: 0px 0px 0px 120px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 240px;
    height: 128px;
    gap: 12;
    padding: 15px 15px 15px 15px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}

.am4 {
    margin: 0px 0px 0px 120px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 240px;
    height: 128px;
    gap: 12;
    padding: 15px 15px 15px 15px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}

main input[type="text"] {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    /* display: block; */
    position: static;
    width: 1032px;
    height: 64px;
    align-items: center;
    gap: 24;
    padding: 20px 40px 20px 40px;
    margin-top: 50px;
    border: none;
    background-color: rgb(243, 240, 235);
    margin-left: 300px;
    margin-bottom: 30px;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
}

.btn10 {
    margin-left: 750px;
    cursor: pointer;
}

.bn10 {
    width: 270px;
    height: 56px;
    gap: 48;
    padding: 17px 34px 17px 34px;
    margin: 24px 0px;
    margin-bottom: 60px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

footer .free {
    border-radius: 24px;
    background: rgb(34, 47, 41);
    border-radius: 24px;
    background: rgb(198, 228, 214);
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
    gap: 64;
    padding: 80px 100px 80px 70px;
    margin-left: 250px;

}

.subscription-box {
    display: flex;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.email-input {
    border: none;
    padding: 10px;
    flex-grow: 1;
    font-size: 16px;
    outline: none;
    color: #dfb9b9;
    border-radius: 8px;
}

.subscribe-button {
    background-color: #006d50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.fir {
    margin-left: 400px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.sir {
    margin-left: 250px;
    margin-right: 100px;
    align-items: center;
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.fin {
    margin-left: 450px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.finim{
    margin-left: 800px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.ses{
    font-size: 32px;
font-weight: 700;
margin-left: 750px;
margin-bottom: 50px;
}
.finim a {
    margin-right: 20px;}